/* Common styles */

// Alerts
.alert {
	position: relative;
	margin-bottom: 1.2em;
	padding: 0.7em 0.7em 0.6em 3.5em;
	background-color: @success;
	.font-face(@default-font-face; 700);
	color: white;
	line-height: 1.4em;
	
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		padding: 0.65em;
		.fa;
		font-size: 1.2em;
		color: white;
	}
	
	div {
		display: block;
		margin: 0.8em -0.7em -0.6em -1em;
		padding: 0.7em 1em;
		
		span, ul {
			.font-face(@default-font-face; 400; 90%);
		}
		
		ul {
			list-style: none;
			
			li {
				position: relative;
				padding-left: 1em;
				margin-bottom: 0.25em;
				.last-child();
				
				&:before {
					position: absolute;
					left: 0;
					content: '\2022';
					.font-face(@default-font-face; 700; 150%);
				}
				
			}
			
		}
		
	}
	
	// Alerts colors
	@list :
		primary @primary @fa-var-info-circle,
		success @success @fa-var-check,
		warn    @warn    @fa-var-exclamation-triangle,
		error   @error   @fa-var-minus-circle;
	
	.alerts-colors(@list);
	
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) {
	
	/// Alerts
	.alert {
		padding-left: 3.8em;
		font-size: 0.85em;
		
		&:before {
			font-size: 1.4em;
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
	// Alerts
	.alert {
		font-size: 0.85em;
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	
	//
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
	//
	
}