/* Common styles */

// Button styles
.button {
	cursor: pointer;
	display: inline-block;
	margin-right: 0.4em;
	padding: 0.6em 0.9em 0.7em;
	.border-radius(0.25em);
	.transition(~'background-color 0.25s linear, opacity 0.25s linear');
	.font-face(@default-font-face, 700);
	color: white;
	text-decoration: none;
	user-select: none;
	.last-child(margin-right);
	
	// Button colors
	@list :
		default @button-background,
		primary @primary,
		success @success,
		warn    @warn,
		error   @error;
	
	.button-colors(@list);
	
	// Icon
	i {
		margin-right: 0.4em;
	}
	
	// Hover
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: white;
	}
	
	// Disabled
	&.disabled {
		cursor: default;
		opacity: .4;
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) {
	
	// Buttons
	.button {
		font-size: 0.8em;
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
	// Buttons
	.button {
		font-size: 0.8em;
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	
	//
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
	//
	
}