// Main color guide
@primary    : #26a7dd;
@success    : #2cb372;
@warn       : #f7d11d;
@error      : #d11b59;
@font-color : #363636;

// Interface colors
@main-background    : white;
@header-background  : @primary;
@sidebar-background : @font-color;

// Text colors
@header-font-color : white;

// Background colors
@bg-colors     :
	primary        @primary,
	success        @success,
	success-darken darken(@success, 10%),
	warn           @warn,
	warn-darken    darken(@warn, 10%),
	error          @error,
	error-darken   darken(@error, 10%);

// Main menu colors
@menu-font-color    : white;
@menu-icon-color    : #b0b0b0;
@menu-hover-color   : #4a4a4a;
@submenu-background : darken(@sidebar-background, 5%);

// Mobile menu colors
@mobile-menu-font-color    : white;
@mobile-menu-icon-color    : lighten(@primary, 15%);
@mobile-menu-background    : darken(@header-background, 10%);
@mobile-submenu-background : darken(@header-background, 20%);

// Toolbar colors
@toolbar-background : #ebebeb;

// Buttons
@button-background  : #b1b1b1;

// DataTables colors
@dt-background                 : #ebebeb;             // Table (container) background color
@dt-border                     : #dddddd;             // Table (data) border color
@dt-fields-border              : #dddddd;             // Search and page size input border color
@dt-fields-background          : white;               // Search and page size input background color
@dt-row-border                 : #f0f0f0;             // Row border color
@dt-row-odd                    : white;               // Rows (odd) background color
@dt-row-odd-sort               : #f7f7f7;             // Rows (odd) sorted background color
@dt-row-odd-selected           : lighten(@primary, 40%);
@dt-row-odd-sort-selected      : lighten(@primary, 35%);
@dt-row-even                   : #f9f9f9;             // Rows (even) background color
@dt-row-even-sort              : #f1f1f1;             // Rows (even) sorted background color
@dt-row-even-selected          : lighten(@primary, 42%);
@dt-row-even-sort-selected     : lighten(@primary, 37%);
@dt-sort-default               : #cbcbcb;             // Column order icon color
@dt-sort-selected              : @primary;            // Selected column order icon color
@dt-paging-hover               : @font-color;         // Paging link hover background color
@dt-paging-hover-font-color    : white;               // Paging link hover font color
@dt-paging-selected            : #909090;             // Selected paging link background color
@dt-paging-selected-font-color : white;               // Selected paging link font color
@dt-paging-font-color          : @font-color;         // Paging link font color
@dt-paging-disabled-font-color : @dt-paging-selected; // Disables paging link font color
@dt-actions                    : white;               // Edit and delete actions background color
@dt-actions-font-color         : @font-color;         // Edit and delete actions font and icon color
@dt-actions-hover              : @font-color;         // Edit and delete actions hover background color
@dt-actions-hover-font-color   : white;               // Edit and delete actions hover font and icon color

// Grids colors
@grid-background                 : #f9f9f9;
@grid-tools-background           : #ebebeb;
@grid-item                       : #f9f9f9;
@grid-item-selected              : lighten(@primary, 40%);
@grid-item-image                 : white;
@grid-item-image-loading         : #363636;
@grid-info-background            : #ebebeb;
@grid-paging-font-color          : @font-color;
@grid-paging-disabled-font-color : @dt-paging-selected;
@grid-paging-selected            : #909090;
@grid-paging-selected-font-color : white;
@grid-paging-hover               : @font-color;
@grid-paging-hover-font-color    : white;
@grid-processing-background      : rgba(250, 250, 250, 0.4);

// Modals
@modal-opaque-background  : @sidebar-background;
@modal-opaque-opacity     : 0.6;
@modal-content-background : white;
@modal-confirm-background : @font-color;

// Forms
@form-background               : #ebebeb;
@form-border                   : #d9d9d9;
@form-input-background         : white;
@form-input-border             : #d9d9d9;
@form-input-focus-glow         : @primary;
@form-input-font-color         : #a9a9a9;
@form-input-focus-error        : @error;
@form-error-message-font-color : @error;
@form-clone-remove-background  : #d9d9d9;