/* Common styles */

// Content container
#container .content {
	
	// Content titles
	h1, h2, h3 {
		.font-face(@default-font-face; 700);
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) {
	
	// Content container
	#container .content {
		margin-top: @nav-bar-height-xs + @toolbar-height-xs;
		padding: 0.8em @global-side-pad-xs;
		
		// Content titles
		
		h1, h2, h3 {
			margin-bottom: 1.2em;
		}
		
		h1 {
			font-size: 1.2em;
		}
		
		h2 {
			font-size: 1em;
		}
		
		h3 {
			font-size: 0.9em;
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
	// Content container
	#container .content {
		overflow: auto;
		padding: 3%;
		
		// Content titles
		
		h1, h2, h3 {
			margin-bottom: 1.2em;
		}
		
		h1 {
			font-size: 1.4em;
		}
		
		h2 {
			font-size: 1.2em;
		}
		
		h3 {
			font-size: 1em;
		}
		
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	
	//
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
	//
	
}