/* Common styles */

// Error pages
#wrapper.error-pages {
	.gradient(@primary; darken(@primary, 20%); ~'ellipse at center');
	
	// Container
	#container {
		
		// Image header
		#header {
			
			// Centered image
			img {
				.center-block;
			}
			
		}
		
		// Texts
		h1 {
			.font-face(@roboto; 500);
			color: white;
		}
		
		p {
			color: white;
		}
		
		// Error container
		#error {
			overflow: auto;
			padding: 0.5em;
			background-color: white;
			font-family: monospace;
		}
		
	}
	
	// Copy
	#copy {
		padding: 0 1em;
		color: lighten(@primary, 30%);
		text-align: right;
		
		a {
			color: lighten(@primary, 30%);
			text-decoration: none;
		}
		
	}
	
	// Link colors on error
	.bg-error & #copy,
	.bg-error & #copy a {
		color: lighten(@error, 30%);
	}
	
	// Error message background color
	.bg-error & {
		.gradient(@error; darken(@error, 20%); ~'ellipse at center');
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) {
	
	// Error pages
	#wrapper.error-pages {
		
		// Container
		#container {
			
			// Logo
			img.udo {
				.mb-10;
			}
			
			// Texts
			h1 {
				.mb-5;
				font-size: 3em;
			}
			
			p {
				font-size: 0.9em;
			}
			
		}
		
		// Copy
		#copy {
			font-size: 0.75em;
			text-align: center;
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
	// Error pages
	#wrapper.error-pages {
		
		// Container
		#container {
			
			// Logo
			img.udo {
				.mb-5;
			}
			
			// Texts
			h1 {
				.mb-5;
				font-size: 3.8em;
			}
			
			p {
				font-size: 0.85em;
			}
			
			// Error container
			#error {
				font-size: 0.95em;
				line-height: 1.3em;
			}
			
		}
		
		// Copy
		#copy {
			font-size: 0.75em;
		}
		
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	
	//
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
	//
	
}