// Font definition
@raleway : "Raleway", sans-serif;
@roboto  : "Roboto", sans-serif;

// Default font face and weight
@default-font-face   : @raleway;
@default-font-weight : 400;

// Font weights
@font-weights :
	regular 400,
	medium  500,
	bold    700;
