/* Common styles */

// Form container
fieldset {
	background-color: @form-background;
	border: 1px solid @form-border;
	.border-radius(0.25em);
	
	// Fieldset legends
	legend {
		padding: 0.5em 0.8em;
		background-color: @form-border;
		.border-radius(0.25em);
		.font-face();
	}
	
	// Collapsible fieldsets
	&[data-collapsable] {
		legend{
			cursor: pointer;
			&:after {
				margin-left: 8px;
				.fa;
				content: @fa-var-sort;
			}
		}
	}
	
	// COmmon labels
	label[class^="col-"] {
		.truncate-text;
		.font-face(@default-font-face; 700);
		line-height: 2.6em;
	}
	
	// Text inputs
	input[type="text"],
	input[type="password"],
	input[type="file"],
	select,
	textarea {
		width: 100%;
		padding: 0.6em;
		background-color: @form-input-background;
		border: 1px solid @form-input-border;
		.border-radius(0.25em);
		.font-face();
		color: @form-input-font-color;
		line-height: 1.2em;
		
		// Focus
		&:focus {
			border-color: @form-input-focus-glow;
		}
		
		// Validation error
		&.error,
		&.error:focus {
			border-color: @form-input-focus-error;
		}
		
		// Disabled
		&[disabled] {
			opacity: .5;
		}
		
	}
	
	// Validation error messages
	label.error {
		display: block;
		padding: 0.6em 0.8em 0;
		color: @form-error-message-font-color;
	}
	
	// File inputs padding
	input[type="file"] {
		padding: 0.4em;
	}
	
	// Select padding fix (to match input and textarea paddings)
	select {
		padding: 0.55em 0.4em;
	}
	
	// Textarea, only vertical resize
	textarea {
		resize: vertical;
	}
	
	// Checkbox
	input[type="checkbox"] {
		display: none;
		
		// Label that will mimic the checkbox with custom style
		& + label {
			line-height: 2em; // Same as simple label
			
			&:after {
				content: '';
				display: inline-block;
				width: 1em;
				height: 1em;
				background-color: @form-input-background;
				border: 1px solid @form-input-border;
				.border-radius(0.25em);
			}
			
		}
		
		// Checked version
		&:checked + label:before {
			position: absolute;
			margin-left: 1px;
			.fa;
			content: @fa-var-check;
			font-size: 0.85em;
			line-height: 2.2em;
		}
		
		// Disabled
		&[disabled] {
			
			& + label:after,
			&:checked + label:before {
				opacity: 0.6;
			}
			
		}
		
	}
	
	hr {
		margin: 0.5em 0 1em;
		border-top: none;
		border-bottom: 1px solid @form-border;
	}
	
	// Clonable elements
	.clone-container {
		
		input.remove-rounded {
			.border-radius(0.25em 0 0 0.25em);
		}
		
		a.remove {
			display: block !important;
			padding: 0.52em 0;
			.transition(background-color 0.25s linear);
			background-color: @form-clone-remove-background;
			.border-radius(0 0.25em 0.25em 0);
			border: 1px solid @form-clone-remove-background;
			border-left: none;
			
			.fa;
			color: white;
			text-align: center;
			text-decoration: none;
			
			&:after {
				content: @fa-var-close;
			}
			
			&:hover {
				background-color: darken(@form-clone-remove-background, 10%);
			}
			
		}
		
	}
	
	// Multiple selection elements
	.multiple-selection {
		
		&.default {
			margin-top: 0.4em;
		}
		
		// Button vertical spacing
		.button {
			margin-bottom: 0.4em;
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) {
	
	// Form container
	fieldset {
		margin-bottom: 1.2em;
		padding: 0.4em @global-side-pad-xs;
		
		// Group container
		& > div {
			padding: 0.6em 0;
		}
		
		// Form rows
		.row.form-row {
			margin-bottom: 0.8em;
			.last-child(margin-bottom);
		}
		
		// Font size for legends, labels, input
		legend,
		label[class^="col-"],
		input[type="text"],
		input[type="password"],
		input[type="file"],
		select,
		textarea {
			font-size: 0.85em;
		}
		
		label[class^="col-"] {
			margin-bottom: 0.2em;
			padding-left: 0.2em;
			line-height: 1.2em;
		}
		
		// Validation error messages
		label.error {
			padding: 0.6em 0.2em 0;
			font-size: 0.8em;
		}
		
		// Checkboxes
		input[type="checkbox"] + label {
			font-size: 1.2em;
		}
		
		// Checkbox
		input[type="checkbox"] {
			
			// Label that will mimic the checkbox with custom style
			& + label {
				font-size: 1.2em;
				line-height: 1em; // Same as simple label
				
				&:after {
					margin-top: -0.1em;
				}
				
			}
			
			// Checked version
			&:checked + label:before {
				margin-top: -0.1em;
				line-height: 1em;
			}
			
		}
		
		// Clonable elements
		.clone-container {
			
			// Form rows
			.row.form-row:last-child {
				margin-bottom: 0.8em !important;
			}
			
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
	// Form container
	fieldset {
		margin-bottom: 1.2em;
		padding: 1% 2%;
		
		// Group container
		& > div {
			padding: 1% 0;
		}
		
		// Form rows
		.row.form-row {
			margin-bottom: 0.6em;
			.last-child(margin-bottom);
		}
		
		// Font size for legends, labels, input
		legend,
		label[class^="col-"],
		input[type="text"],
		input[type="password"],
		input[type="file"],
		select,
		textarea {
			font-size: 0.85em;
		}
		
		// Validation error messages
		label.error {
			font-size: 0.8em;
		}
		
		// Checkboxes
		input[type="checkbox"] + label {
			font-size: 1.2em;
		}
		
		// Clonable elements
		.clone-container {
			
			// Form rows
			.row.form-row:last-child {
				margin-bottom: 0.6em !important;
			}
			
		}
		
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	
	//
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
	//
	
}