/* Common styles */

// Loading animation
@keyframes scale {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	45% {
		transform: scale(0.1);
		opacity: 0.7;
	}
	80% {
		transform: scale(1);
		opacity: 1;
	}
}

// Grid styles
.grid {
	position: relative;
	background-color: @grid-background;
	
	// Processing grid
	.grid-processing {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: @grid-processing-background;
		
		.message {
			text-align: center;
		}
		
	}
	
	// Grid tools
	.grid-tools {
		background-color: @grid-tools-background;
		border-bottom: 1px solid white;
	}
	
	// Items container
	.grid-list {
		
		// Empty grid
		&.empty {
			padding: 1.2em 0;
			text-align: center;
		}
		
	}
	
	// Single item
	.item {
		background-color: @grid-item;
		
		// Selected rows
		&.selected,
		&.selected:hover {
			background-color: @grid-item-selected;
		}
		
		// Item image
		.image {
			position: relative;
			
			// Image placeholder
			img.placeholder {
				width: 100%;
				height: auto;
			}
			
			// Loading image
			.loading {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				
				// Container to center animation
				.animation-container {
					.vertical-align();
					width: 100%;
					padding-top: 4px;
					text-align: center;
					
					// Animation styles
					.animation-pulse();
					
					// Items colors
					& > div {
						display: inline-block;
						width: 12px;
						height: 12px;
						border-radius: 100%;
						background-color: @grid-item-image-loading;
					}
					
				}
				
			}
			
		}
		
		// Item data
		.data {
			
			h2 {
				.mb-0 !important;
				.txt-bold;
			}
			
			p {
				.mb-0 !important;
				.font-face(@roboto; 400; 0.85em);
				color: lighten(@font-color, 20%);
			}
			
		}
		
	}
	
	// Grid info
	.grid-info {
		background-color: @grid-info-background;
		border-top: 1px solid #dddddd;
		
		// Grid paging
		.grid-paging {
			
			// Pagination buttons
			.grid-page-button {
				display: inline-block;
				min-width: 1.5em;
				margin-left: 2px;
				padding: 4px 8px;
				border: none;
				.border-radius(1em);
				.font-face(@roboto; 300);
				color: @grid-paging-font-color;
				text-decoration: none;
				text-align: center;
				
				// Hover
				&:hover {
					border: none;
					background: @grid-paging-hover;
					color: @grid-paging-hover-font-color;
				}
				
				// Previous/Next buttons
				&.previous,
				&.next {
					.txt-medium;
				}
				
				// Disabled
				&.disabled,
				&.disabled:hover {
					cursor: default;
					background-color: transparent;
					color: @grid-paging-disabled-font-color;
				}
				
				// Previous
				&.previous:before {
					.mr-5;
					.fa;
					content: @fa-var-arrow-left;
				}
				
				// Next
				&.next:after {
					.ml-5;
					.fa;
					content: @fa-var-arrow-right;
				}
				
				// Current page
				&.current,
				&.current:hover {
					cursor: default;
					border: none;
					background: @grid-paging-selected;
					.txt-medium;
					color: @grid-paging-selected-font-color;
				}
				
			}
			
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) {
	
	// Grid styles
	.grid {
		margin-bottom: 2em;
		font-size: 0.85em;
		
		// Processing grid
		.grid-processing .message {
			width: 100%;
			.vertical-align();
			font-size: 1.5em;
		}
		
		
		// Grid tools
		.grid-tools {
			
			// Grid length
			.grid-length {
				padding: 0.6em 0.8em;
				font-size: 1em;
				text-align: center;
				
				// Records per page combo
				select {
					.mh-5;
					padding: 4px 6px;
					border: 1px solid @dt-fields-border;
					background-color: @dt-fields-background;
					.font-face(@roboto);
				}
				
			}
			
			// Search
			.grid-search {
				padding: 0.6em 0.8em;
				font-size: 1em;
				text-align: center;
				
				// Search field
				input[type="search"] {
					.ml-10;
					padding: 7px;
					border: 1px solid @dt-fields-border;
					background-color: @dt-fields-background;
					.font-face(@roboto);
				}
				
			}
			
		}
		
		// Single item
		.item {
			padding: 0.8em;
			.transition(background-color 0.25s linear);
			
			// Item image
			.image {
				background: @grid-item-image;
				
				// Gallery image
				img:not(.placeholder) {
					display: none;
					position: absolute;
					top: 50%;
					left: 50%;
					max-width: 90%;
					max-height: 90%;
					transform: translate(-50%, -50%);
				}
				
			}
			
			// Item data
			.data {
				padding-top: 0.8em;
				
				h2 {
					font-size: 1.2em !important;
				}
				
				p {
					font-size: 1em;
				}
				
				// Item actions
				.actions {
					padding-top: 0.2em;
					text-align: right;
					
					// Custom edit/delete buttons
					a {
						display: inline-block;
						font-size: 1.6em;
						color: @dt-actions-font-color;
						text-decoration: none;
						
						// Smaller text
						span {
							display: none;
						}
						
						// Icons
						&:before {
							.mr-10;
							.fa;
						}
						
						// Edit button
						&.edit {
							
							&:before {
								content: @fa-var-edit;
							}
						}
						
						// Delete button
						&.delete:before {
							content: @fa-var-trash;
						}
						
					}
					
				}
				
			}
			
			// Hover
			&:hover {
				background-color: darken(@grid-item, 7%);
			}
			
		}
		
		// Grid info
		.grid-info {
			
			// Grid length
			.grid-size {
				padding: 0.8em;
				font-size: 1em;
				text-align: center;
			}
			
			// Grid pagind
			.grid-paging {
				padding: 0.6em 0.8em 0.7em;
				text-align: center;
				
				// Buttons
				.grid-page-button {
				
				}
				
			}
			
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
	// Grid styles
	.grid {
		margin-bottom: 2em;
		font-size: 0.8em;
		
		// Processing grid
		.grid-processing .message {
			width: 100%;
			.vertical-align();
			font-size: 1.5em;
		}
		
		
		// Grid tools
		.grid-tools {
			
			// Grid length
			.grid-length {
				padding: 0.6em 0.8em;
				font-size: 1em;
				
				// Records per page combo
				select {
					.mh-5;
					padding: 4px 6px;
					border: 1px solid @dt-fields-border;
					background-color: @dt-fields-background;
					.font-face(@roboto);
				}
				
			}
			
			// Search
			.grid-search {
				padding: 0.6em 0.8em;
				font-size: 1em;
				text-align: right;
				
				// Search field
				input[type="search"] {
					.ml-10;
					padding: 7px;
					border: 1px solid @dt-fields-border;
					background-color: @dt-fields-background;
					.font-face(@roboto);
				}
				
			}
			
		}
		
		// Single item
		.item {
			padding: 0.8em;
			.transition(background-color 0.25s linear);
			
			// Item image
			.image {
				background: @grid-item-image;
				
				// Gallery image
				img:not(.placeholder) {
					display: none;
					position: absolute;
					top: 50%;
					left: 50%;
					max-width: 90%;
					max-height: 90%;
					transform: translate(-50%, -50%);
				}
				
			}
			
			// Item data
			.data {
				padding-top: 0.8em;
				
				// Item actions
				.actions {
					padding-top: 0.2em;
					text-align: right;
					
					// Custom edit/delete buttons
					a {
						display: inline-block;
						font-size: 1.4em;
						color: @dt-actions-font-color;
						text-decoration: none;
						
						// Smaller text
						span {
							display: none;
						}
						
						// Icons
						&:before {
							.mr-5;
							.fa;
						}
						
						// Edit button
						&.edit {
							
							&:before {
								content: @fa-var-edit;
							}
						}
						
						// Delete button
						&.delete:before {
							content: @fa-var-trash;
						}
						
					}
					
				}
			
			}
			
			// Hover
			&:hover {
				background-color: darken(@grid-item, 7%);
			}
			
		}
		
		// Grid info
		.grid-info {
			
			// Grid length
			.grid-size {
				padding: 0.8em;
				font-size: 1em;
			}
			
			// Grid pagind
			.grid-paging {
				padding: 0.6em 0.8em 0.7em;
				text-align: right;
				
				// Buttons
				.grid-page-button {
				
				}
				
			}
			
		}
		
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	
	//
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
	//
	
}