/* Common styles */

// Header
#wrapper #container .header {
	background-color: @header-background;
	
	// Interface title
	h1 {
		.font-face("Raleway", sans-serif; 700);
		color: @header-font-color;
		
		span {
			.txt-regular;
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) {
	
	// Main container
	#wrapper #container {
		margin-top: @nav-bar-height-xs;
		
		// Header
		.header {
			z-index: 3;
			position: fixed;
			top: 0;
			width: 100%;
			height: @nav-bar-height-xs;
			
			// Vertically centered content
			.row {
				height: 100%;
				padding-left: @global-side-pad-xs;
				.row-equal-height();
				
				// First div sets all divs heights
				& > div {
					height: 100%;
					
					h1 {
						width: 100%;
						.truncate-text();
					}
					
				}
				
			}
			
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
	// Header
	#wrapper #container .header {
		
		// Vertically centered content
		.row {
			height: 100%;
			.pl-20;
			.row-equal-height();
			
			// First div sets all divs heights
			& > div {
				height: 100%;
			}
			
			.row {
				height: 100%;
				.row-equal-height-reset();
			}
			
			// Logout
			a.logout {
				display: table; // Vertically centered content (in span)
				float: right;
				height: 100%;
				.transition(background-color 0.25s linear);
				.ph-20;
				.bg-error;
				.txt-bold;
				color: @header-font-color;
				text-decoration: none;
				font-size: 0.9em;
				
				&:hover {
					.bg-error-darken;
				}
				
				i {
					.ml-5;
				}
				
				// Container for the text (so it can be vertically centered)
				span {
					display: table-cell;
					vertical-align: middle;
					.font-face(@default-font-face; 700);
				}
				
			}
			
			// User information
			.user-info {
				overflow: hidden; // Causes the user info not to go "over" the logout button
				position: relative;
				height: 100%;
				color: @header-font-color;
				text-align: right;
				font-size: 0.9em;
				
				// Vertically centered content
				p {
					.vertical-align();
					width: 100%;
					.pr-15;
					.font-face;
				}
				
			}
			
		}
		
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	
	//
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
	//
	
}