/* Common styles */

// Login button animation
@keyframes scale {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	45% {
		transform: scale(0.1);
		opacity: 0.7;
	}
	80% {
		transform: scale(1);
		opacity: 1;
	}
}

// Login
#wrapper.login {
	.gradient(@primary; darken(@primary, 20%); ~'ellipse at center');
	
	// Form container
	#login {
		
		// Image header
		#header {
			
			// Centered image
			img {
				.center-block;
			}
			
		}
		
		// Login message output
		#message {
			display: none;
			.pb-20;
			.font-face(@raleway; 700);
			color: white;
		}
		
		// Inputs
		input[type="text"],
		input[type="password"] {
			width: 100%;
			padding: 0.4em;
			background-color: white;
			border: 1px solid #d9d9d9;
			.font-face();
			line-height: 1.2em;
			color: #a1a1a1;
		}
		
		// Button container
		.button-container {
			position: relative;
			background-color: rgba(0, 0, 0, .2);
			
			// Button
			input[type="submit"] {
				width: 100%;
				padding: 0.4em;
				background-color: transparent;
				border: none;
				.transition(background-color 0.25s linear);
				.font-face();
				line-height: 1.2em;
				color: white;
				
				&:hover {
					background-color: rgba(0, 0, 0, .3);
				}
				
				&[disabled],
				&[disabled]:hover,
				&.disabled,
				&.disabled:hover {
					background-color: rgba(0, 0, 0, .1);
					color: rgba(255, 255, 255, .5);
				}
				
			}
			
			// Login-in
			.loading {
				display: none;
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: darken(@primary, 20%);
				
				// Container to center animation
				.animation-container {
					.vertical-align();
					width: 100%;
					padding-top: 4px;
					text-align: center;
					
					// Animation styles
					.animation-pulse();
					
					// Items colors
					& > div {
						display: inline-block;
						width: 16px;
						height: 16px;
						border-radius: 100%;
						background-color: white;
					}
					
				}
				
			}
			
		}
		
		// Recover password
		a {
			color: rgba(255, 255, 255, .6);
			text-decoration: none;
		}
		
	}
	
	// Copy
	#copy {
		padding: 0 1em;
		color: lighten(@primary, 30%);
		text-align: right;
		
		a {
			color: lighten(@primary, 30%);
			text-decoration: none;
		}
		
	}
	
	// Login error
	&.error {
		
		// Fadein error advice
		#error-advice {
			animation-name: fadeIn;
		}
		
		// Shake form
		#login {
			.shake();
		}
		
	}
	
	// Login success
	&.success {
		
		// Fadein success advice
		#success-advice {
			animation-name: fadeIn;
		}
		
	}
	
	// Error message background color hack
	#error-advice {
		opacity: 0;
		.gradient(@error; darken(@error, 20%); ~'ellipse at center');
	}
	
	// Success message background color hack
	#success-advice {
		opacity: 0;
		.gradient(@success; darken(@success, 20%); ~'ellipse at center');
	}
	
	// Link colors on error
	&.error #copy,
	&.error #login a,
	&.error #copy a {
		color: lighten(@error, 30%);
	}
	
	// Link colors on error
	&.success #copy,
	&.success #login a,
	&.success #copy a {
		color: lighten(@success, 30%);
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) {
	
	// Login
	#wrapper.login {
		
		// Form container
		#login {
			
			// Logo
			img.udo {
				.mb-20;
			}
			
			// Inputs
			input[type="text"],
			input[type="password"],
			input[type="submit"] {
				font-size: 1.2em;
			}
			
			input[type="text"],
			input[type="password"] {
				.mb-10;
			}
			
			// Recover password
			a {
				font-size: 0.9em;
			}
			
		}
		
		// Copy
		#copy {
			font-size: 0.75em;
			text-align: center;
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
	// Login
	#wrapper.login {
		
		// Form container
		#login {
			
			// Logo
			img.udo {
				.mb-20;
			}
			
			// Inputs
			input[type="text"],
			input[type="password"],
			input[type="submit"] {
				font-size: 1.4em;
			}
			
			input[type="text"],
			input[type="password"] {
				.mb-10;
			}
			
			// Recover password
			a {
				font-size: 0.85em;
			}
			
		}
		
		// Copy
		#copy {
			font-size: 0.75em;
		}
		
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	
	//
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
	//
	
}