/**
 * Defines button colors inside a specific selector
 * @param {list}   list    - Lists of class/color values
 * @param {number} current - Current element index.
 */

.button-colors(@list; @current: 1) when (@current <= length(@list)) {
	@item: extract(@list, @current);
	@class: extract(@item, 1);
	@color: extract(@item, 2);
	&.@{class} {
		background-color: @color;
		&:not(.disabled):hover {
			background-color: darken(@color, 10%);
		}
	}
	.button-colors(@list; @current + 1);
}

/**
 * Defines alerts colors and icons inside a specific selector
 * @param {list}   list    - Lists of class/color/icon values
 * @param {number} current - Current element index.
 */

.alerts-colors(@list; @current: 1) when (@current <= length(@list)) {
	@item: extract(@list, @current);
	@class: extract(@item, 1);
	@color: extract(@item, 2);
	@icon: extract(@item, 3);
	&.@{class} {
		background-color: @color;
		&:before {
			background-color: darken(@color, 10%);
			content: @icon;
		}
		div {
			background-color: lighten(@color, 30%);
			color: darken(@color, 25%);
		}
	}
	.alerts-colors(@list; @current + 1);
}

/**
 * Defines dialogs colors inside a specific selector
 * @param {list}   list    - Lists of class/color values
 * @param {number} current - Current element index.
 */

.confirm-dialogs-colors(@list; @current: 1) when (@current <= length(@list)) {
	@item: extract(@list, @current);
	@class: extract(@item, 1);
	@color: extract(@item, 2);
	&.@{class} .title {
		background-color: @color;
	}
	.confirm-dialogs-colors(@list; @current + 1);
}

/**
 * Calculates animation delay based on an interval and a max item count
 * @param {number} interval - Delay interval
 * @param {number} max      - Max item count
 * @param {number} current  - Current item
 */


.animation-delay(@interval: 0.25s; @max: 3; @current: 1) {
	@delay: (@current * @interval) - (@interval * @max);
}


/**
 * Creates the selectors for the animation
 * @param {number} max      - Max item count
 * @param {number} current  - Current item
 */

.animation-pulse(@current: 1; @max: 3) when (@current <= @max) {
	.animation-delay(0.1s; @max; @current);
	& > div:nth-child(@{current}) {
		animation: scale 0.75s @delay infinite cubic-bezier(.2, .68, .18, 1.08);
	}
	.animation-pulse(@current + 1; @max);
}

/**
 * Defines all steps to create a shake animation
 * @param {number} duration - Animation duration
 * @param {number} steps    - Number of shakes
 * @param {number} max      - Max step offset
 * @param {number} delay    - Animation delay
 */

.shake(@duration: 1s; @steps: 10; @max: 15px; @delay: 0s) {
	.shake-step(@current: 1) when(@current <= @steps) {
		@step: (100% / @steps) * (@current - 1);
		.offset() when(mod(@current, 2) > 0) {
			@offset: -(@max / @steps) * (@steps - @current);
		}
		.offset() when(default()) {
			@offset: (@max / @steps) * (@steps - @current);
		}
		.offset();
		@{step} {
			transform: translateX(@offset);
		}
		.shake-step(@current + 1);
	}
	@keyframes shake {
		.shake-step();
	}
	animation: shake @duration @delay ease-in;
}