/* Common styles */

// Modal
.modal {
	z-index: 5;
	
	// Opaque
	.opaque {
		background-color: @modal-opaque-background;
		opacity: @modal-opaque-opacity;
	}
	
	// Content container
	.content {
		background-color: @modal-content-background;
		.box-shadow(0 0 10px rgba(0, 0, 0, 0.25));
	}
	
	// Confirm
	&.confirm {
		
		// Content container
		.content {
			
			// Title colors
			@list :
				default @modal-confirm-background,
				primary @primary,
				success @success,
				warn    @warn,
				error   @error;
			
			.confirm-dialogs-colors(@list);
			
			// Paddings
			.title,
			.message,
			.buttons {
				padding: 0.8em 1.2em;
			}
				
			// Title
			.title {
				.font-face(@default-font-face, 700);
				color: white;
			}
			
			// Message
			.message {
				padding-bottom: 0.8em;
				.font-face(@default-font-face);
				text-align: center;
			}
				
			// Buttons container
			.buttons {
				padding-top: 0;
				text-align: center;
			}
			
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) {
	
	// Modal
	.modal {
		
		// Confirm
		&.confirm {
			
			// Content
			.content {
				
				// Title
				.title {
					font-size: 0.85em;
				}
				
				// Message
				.message {
					font-size: 0.8em;
				}
				
			}
			
			// Buttons container
			.buttons {
				
				// Buttons
				.button {
					font-size: 0.8em;
				}
				
			}
			
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
	// Modal
	.modal {
		
		// Confirm
		&.confirm {
			
			// Content
			.content {
				
				// Title
				.title {
					font-size: 0.85em;
				}
				
				// Message
				.message {
					font-size: 0.8em;
				}
				
			}
			
			// Buttons container
			.buttons {
				
				// Buttons
				.button {
					font-size: 0.8em;
				}
				
			}
			
		}
		
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	
	//
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
	//
	
}