/* Common styles */

// Mobile open/close nav icon animation

@keyframes openfirst {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(0.5em) rotate(45deg);
	}
	100% {
		transform: translateY(0.5em) rotate(45deg);
	}
}

@keyframes opensecond {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(0) rotate(45deg);
	}
	100% {
		opacity: 0;
	}
}

@keyframes openthird {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-0.5em) rotate(45deg);
	}
	100% {
		transform: translateY(-0.5em) rotate(135deg);
	}
}

// Sidebar
#wrapper #sidebar {
	
	// Header color
	.header {
		background-color: darken(@header-background, 15%);
	}
	
	// Content color
	.content {
		background-color: @sidebar-background;
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) {
	
	// Sidebar
	#wrapper #sidebar {
		z-index: 4;
		position: fixed;
		top: 0;
		width: 100%;
		height: @nav-bar-height-xs;
		
		.header {
			z-index: 2;
			position: absolute;
			top: 0;
			right: @global-side-pad-xs;
			width: 15%;
			max-width: 100px;
			height: 100%;
			background-color: @header-background;
			
			& > div {
				height: 100%;
				.ph-20;
				
				// Expand/collapse trigger
				& > div {
					cursor: pointer;;
					.vertical-align();
					width: 30px;
					right: 0;
					
					// Lil bars
					span {
						display: block;
						height: 4px;
						margin-bottom: 4px;
						background-color: white;
						.border-radius(2px);
						animation-duration: 0.25s;
						animation-fill-mode: both;
						.border-radius(0.15em);
						.last-child(margin-bottom);
						
						animation-name: opensecond;
						
						&:first-child {
							animation-name: openfirst;
						}
						
						&:last-child {
							animation-name: openthird;
						}
						
					}
					
				}
				
			}
			
		}
		
		.content {
			z-index: 1;
			overflow: auto;
			position: fixed;
			width: 100%;
			top: @nav-bar-height-xs;
			bottom: 0;
			background-color: @mobile-menu-background;
			
			// Main menu
			ul {
				.pt-10;
				list-style: none;
				
				li {
					
					a {
						display: block;
						padding: 10px @global-side-pad-xs;
						color: @mobile-menu-font-color;
						.font-face(@default-font-face; 700; 0.9em);
						text-decoration: none;
						
						i {
							width: 1.2em;
							.mr-10;
							font-size: 1.2em;
							color: @mobile-menu-icon-color;
							text-align: center;
						}
						
						// Badges
						span.badge {
							.ml-5;
							padding: 2px 8px;
							.border-radius(1em);
							.font-face(@roboto; 700; 0.9em);
							color: white;
							
							&.primary {
								.bg-primary;
							}
							
							&.success {
								.bg-success;
							}
							
							&.warn {
								.bg-warn;
							}
							
							&.error {
								.bg-error;
							}
							
						}
						
						// Submenu indicator
						span {
							
							&.sidebar-opened-submenu-indicator {
								float: right;
								line-height: 1.4em;
							}
							
							&.sidebar-closed-submenu-indicator {
								display: none;
							}
							
						}
						
					}
					
					// Submenu
					ul {
						display: none;
						.mt-5;
						padding: 10px @global-side-pad-xs;
						background-color: @mobile-submenu-background;
						
						li {
							
							a {
								.pl-35;
								font-weight: 400;
								font-size: 0.75em;
							}
							
						}
						
					}
					
				}
				
			}
			
		}
		
		// Open
		&.close {
			
			// Show/hime menu
			.content {
				visibility: hidden;
				display: none;
			}
			
			// Animation assignation
			.toggle-sidebar span {
				animation-name: none;
				
				&:first-child {
					animation-name: none;
				}
				
				&:last-child {
					animation-name: none;
				}
			}
			
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
	// Sidebar
	#wrapper #sidebar {
		
		.header {
			
			& > div {
				height: 100%;
				.ph-20;
				
				// Expand/collapse trigger
				& > div {
					cursor: pointer;;
					.vertical-align();
					width: 30px;
					right: 0;
					.mr-10;
					
					// Lil bars
					span {
						display: block;
						height: 4px;
						margin-bottom: 4px;
						background-color: white;
						.border-radius(2px);
						
						&:last-child{
							margin-bottom: 0;
						}
						
					}
					
				}
				
			}
			
		}
		
		// Expanded sidebar styles
		.content {
			
			// Main menu
			ul {
				.pt-10;
				list-style: none;
				
				li {
					
					a {
						position: relative;
						display: block;
						.pv-10;
						.pl-10;
						.pr-20;
						color: @menu-font-color;
						.font-face(@default-font-face; 700; 0.8em);
						text-decoration: none;
						
						i {
							width: 1.2em;
							.mr-5;
							font-size: 1.2em;
							color: @menu-icon-color;
							text-align: center;
						}
						
						&:hover {
							background-color: @menu-hover-color;
						}
						
						// Badges
						span.badge {
							position: absolute;
							right: 12px;
							.ml-5;
							padding: 2px 6px;
							.border-radius(1em);
							.font-face(@roboto; 700; 0.9em);
							color: white;
							
							&.primary {
								.bg-primary;
							}
							
							&.success {
								.bg-success;
							}
							
							&.warn {
								.bg-warn;
							}
							
							&.error {
								.bg-error;
							}
							
						}
						
						// Submenu indicator
						span {
							
							&.sidebar-opened-submenu-indicator {
								float: right;
								line-height: 1.4em;
							}
							
							&.sidebar-closed-submenu-indicator {
								display: none;
							}
							
						}
						
					}
					
					// Submenu
					ul {
						display: none;
						.pv-5;
						
						li {
							
							a {
								.pl-35;
								font-weight: 400;
								font-size: 0.75em;
							}
							
						}
						
					}
					
					&.open {
						background-color: @menu-hover-color;
						
						ul {
							display: block;
							background-color: @submenu-background;
						}
						
					}
					
				}
				
			}
			
		}
		
		// Collapsed sidebar styles
		&.close .content {
			
			ul li {
				position: relative;
				
				a {
					.pr-10;
					text-align: center;
					
					// Larger icons
					i {
						.mr-0;
						font-size: 1.6em;
					}
					
					span {
						
						// Hides badge, submenu indicator and item label
						&:not(.sidebar-closed-submenu-indicator) {
							display: none;
						}
						
						// Submenu indicator
						&.sidebar-closed-submenu-indicator {
							display: block;
							.vertical-align();
							right: 6px;
							color: @menu-icon-color;
						}
						
						&.badge {
							display: block;
							bottom: 4px;
							right: unset;
							margin: 0;
							font-size: 0.8em;
						}
						
					}
					
				}
				
				// Menu display
				ul {
					z-index: 1000;
					position: absolute;
					visibility: hidden;
					top: 0;
					left: 100%;
					width: 250px;
					.pv-0;
					background-color: @sidebar-background;
					
					li a {
						.p-15;
						text-align: left;
					}
					
				}
				
				// Submenu opened state
				&.open {
					background-color: @menu-hover-color;
					
					ul {
						display: block;
						visibility: visible;
						
						li a span {
							
							&.sidebar-closed-submenu-indicator {
								color: white;
							}
							
							&.badge {
								display: inline;
								right: 12px;
								bottom: unset;
								font-size: 0.9em !important;
							}
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	
	//
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
	//
	
}