/* Common styles */

// DataTables Custom Styles
.dataTables_wrapper {
	background-color: @dt-background;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) {
	
	// DataTables Custom Styles
	.dataTables_wrapper {
		margin-bottom: 1.2em;
		
		// Unified paddings for table header, rows, and utilities (filter and lenght)
		table.dataTable thead th,
		table.dataTable tbody td {
			padding: 12px 16px 14px;
		}
		
		.dataTables_length,
		.dataTables_filter,
		.dataTables_paginate {
			padding: 8px 16px;
		}
		
		// Table length, records per page selector
		.dataTables_length {
			font-size: 0.8em;
			
			// Records per page combo
			select {
				.mh-5;
				padding: 4px 6px;
				border: 1px solid @dt-fields-border;
				background-color: @dt-fields-background;
				.font-face(@roboto);
			}
			
		}
		
		// Table search
		.dataTables_filter {
			font-size: 0.8em;
			
			// Search field
			[type="search"] {
				.ml-10;
				padding: 7px;
				border: 1px solid @dt-fields-border;
				background-color: @dt-fields-background;
				.font-face(@roboto);
			}
			
		}
		
		// Table info
		.dataTables_info {
			padding: 13px 16px; // Separate padding, to align info panel with paging
			font-size: 0.8em;
		}
		
		// Table paging
		.dataTables_paginate {
			
			// Pagination buttons
			.paginate_button {
				padding: 4px 8px;
				border: none;
				.border-radius(1em);
				.font-face(@roboto, 300, 0.8em);
				color: @dt-paging-font-color !important;
				
				// Previous/Next buttons
				&.previous,
				&.next {
					.txt-medium;
				}
				
				// Disabled
				&.disabled,
				&.disabled:hover {
					color: @dt-paging-disabled-font-color !important;
				}
				
				// Previous
				&.previous:before {
					.mr-5;
					.fa;
					content: @fa-var-arrow-left;
				}
				
				// Next
				&.next:after {
					.ml-5;
					.fa;
					content: @fa-var-arrow-right;
				}
				
				// Current page
				&.current,
				&.current:hover {
					cursor: default;
					border: none;
					background: @dt-paging-selected;
					.txt-medium;
					color: @dt-paging-selected-font-color !important;
				}
				
				// Hover
				&:hover {
					border: none;
					background: @dt-paging-hover;
					color: @dt-paging-hover-font-color !important;
				}
				
			}
			
		}
		
		// Table
		.dataTable {
			font-size: 0.8em;
			border-top: 1px solid @main-background;
			
			&.no-footer {
				border-bottom: 1px solid @dt-border;
			}
			
			// Head
			thead {
				
				// Removed border
				td, th {
					border: none;
				}
				
				// Sortable row
				.sorting {
					background-image: none; // Remove default background image
					
					// FontAwesome icons
					&:after {
						.ml-10;
						.fa;
						content: @fa-var-sort;
						color: @dt-sort-default;
					}
					
				}
				
				// Sorting ASC
				.sorting_asc {
					background-image: none; // Remove default background image
					
					// FontAwesome icons
					&:after {
						.ml-10;
						.fa;
						content: @fa-var-sort-asc;
						color: @dt-sort-selected;
					}
					
				}
				
				// Sorting DESC
				.sorting_desc {
					background-image: none; // Remove default background image
					
					// FontAwesome icons
					&:after {
						.ml-10;
						.fa;
						content: @fa-var-sort-desc;
						color: @dt-sort-selected;
					}
					
				}
				
			}
			
			// Body
			tbody {
				
				// Actions column
				td.actions {
					text-align: right;
					
					// Custom edit/delete buttons
					a {
						display: inline-block;
						margin-right: 3px;
						font-size: 1.4em;
						color: @dt-actions-font-color;
						text-decoration: none;
						
						// Smaller text
						span {
							display: none;
						}
						
						// Icons
						&:before {
							.mr-5;
							.fa;
						}
						
						// Edit button
						&.edit:before {
							content: @fa-var-edit;
						}
						
						// Delete button
						&.delete:before {
							content: @fa-var-trash;
						}
						
					}
					
				}
				
			}
			
			// Alternate rows
			&.display tbody tr {
				border-bottom: 1px solid @dt-row-border;
				
				// Rows animation
				&, & > .sorting_1 {
					.transition(background-color 0.25s linear);
				}
				
				// Rows borders
				td, th {
					border-top: 1px solid @dt-row-border;
				}
				
				// Remove first row border
				&:first-child {
					td, th {
						border-top: none;
					}
				}
				
				// Odd
				&.odd {
					background-color: @dt-row-odd;
					
					// Order selected
					& > .sorting_1 {
						background-color: @dt-row-odd-sort;
					}
					
					// Hover
					&:hover {
						background-color: darken(@dt-row-odd, 7%);
						& > .sorting_1 {
							background-color: darken(@dt-row-odd-sort, 7%);
						}
					}
					
					// Selected rows
					&.selected,
					&.selected:hover {
						background-color: @dt-row-odd-selected;
						& > .sorting_1 {
							background-color: @dt-row-odd-sort-selected;
						}
					}
					
				}
				
				// Even
				&.even {
					background-color: @dt-row-even;
					
					// Order selected
					& > .sorting_1 {
						background-color: @dt-row-even-sort;
					}
					
					// Hover
					&:hover {
						background-color: darken(@dt-row-even, 4%);
						& > .sorting_1 {
							background-color: darken(@dt-row-even-sort, 4%);
						}
					}
					
					// Selected rows
					&.selected,
					&.selected:hover {
						background-color: @dt-row-even-selected;
						& > .sorting_1 {
							background-color: @dt-row-even-sort-selected;
						}
					}
					
				}
				
			}
			
			// Responsive styles
			&.dtr-inline.collapsed {
			
				& > tbody > tr {
					
					// First available data column
					& > td:first-child:before {
						top: 13px;
						left: 14px;
						width: auto;
						height: auto;
						.border-radius(0);
						.box-shadow(none);
						border: 0;
						background-color: transparent;
						.fa;
						color: @font-color;
						content: @fa-var-caret-right;
					}
					
					// Title row (click displays hidden data)
					&.parent > td:first-child:before {
						background-color: transparent;
						content: @fa-var-caret-down;
					}
					
					// Data row (collapsable row)
					&.child > td {
						
						// Custom edit/delete buttons
						a {
							display: inline-block;
							margin-right: 12px;
							color: @dt-actions-font-color;
							text-decoration: none;
							
							// Smaller text
							span {
							
							}
							
							// Icons
							&:before {
								.mr-5;
								.fa;
							}
							
							// Edit button
							&.edit:before {
								content: @fa-var-edit;
							}
							
							// Delete button
							&.delete:before {
								content: @fa-var-trash;
							}
							
						}
					
					}
					
				}
			
			}
			
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
	// DataTables Custom Styles
	.dataTables_wrapper {
		margin-bottom: 1.2em;
		
		// Unified paddings for table header, rows, and utilities (filter and lenght)
		table.dataTable thead th,
		table.dataTable tbody td {
			padding: 12px 16px 14px;
		}
		
		.dataTables_length,
		.dataTables_filter,
		.dataTables_paginate {
			padding: 8px 16px;
		}
		
		// Table length, records per page selector
		.dataTables_length {
			font-size: 0.8em;
			
			// Records per page combo
			select {
				.mh-5;
				padding: 4px 6px;
				border: 1px solid @dt-fields-border;
				background-color: @dt-fields-background;
				.font-face(@roboto);
			}
			
		}
		
		// Table search
		.dataTables_filter {
			font-size: 0.8em;
			
			// Search field
			[type="search"] {
				.ml-10;
				padding: 7px;
				border: 1px solid @dt-fields-border;
				background-color: @dt-fields-background;
				.font-face(@roboto);
			}
			
		}
		
		// Table info
		.dataTables_info {
			padding: 13px 16px; // Separate padding, to align info panel with paging
			font-size: 0.8em;
		}
		
		// Table paging
		.dataTables_paginate {
			
			// Pagination buttons
			.paginate_button {
				padding: 4px 8px;
				border: none;
				.border-radius(1em);
				.font-face(@roboto, 300, 0.8em);
				color: @dt-paging-font-color !important;
				
				// Previous/Next buttons
				&.previous,
				&.next {
					.txt-medium;
				}
				
				// Disabled
				&.disabled,
				&.disabled:hover {
					color: @dt-paging-disabled-font-color !important;
				}
				
				// Previous
				&.previous:before {
					.mr-5;
					.fa;
					content: @fa-var-arrow-left;
				}
				
				// Next
				&.next:after {
					.ml-5;
					.fa;
					content: @fa-var-arrow-right;
				}
				
				// Current page
				&.current,
				&.current:hover {
					cursor: default;
					border: none;
					background: @dt-paging-selected;
					.txt-medium;
					color: @dt-paging-selected-font-color !important;
				}
				
				// Hover
				&:hover {
					border: none;
					background: @dt-paging-hover;
					color: @dt-paging-hover-font-color !important;
				}
				
			}
			
		}
		
		// Table
		.dataTable {
			font-size: 0.8em;
			border-top: 1px solid @main-background;
			
			&.no-footer {
				border-bottom: 1px solid @dt-border;
			}
			
			// Head
			thead {
				
				// Removed border
				td, th {
					border: none;
				}
				
				// Sortable row
				.sorting {
					background-image: none; // Remove default background image
					
					// FontAwesome icons
					&:after {
						.ml-10;
						.fa;
						content: @fa-var-sort;
						color: @dt-sort-default;
					}
					
				}
				
				// Sorting ASC
				.sorting_asc {
					background-image: none; // Remove default background image
					
					// FontAwesome icons
					&:after {
						.ml-10;
						.fa;
						content: @fa-var-sort-asc;
						color: @dt-sort-selected;
					}
					
				}
				
				// Sorting DESC
				.sorting_desc {
					background-image: none; // Remove default background image
					
					// FontAwesome icons
					&:after {
						.ml-10;
						.fa;
						content: @fa-var-sort-desc;
						color: @dt-sort-selected;
					}
					
				}
				
			}
			
			// Body
			tbody {
				
				// Actions column
				td.actions {
					text-align: right;
					
					// Custom edit/delete buttons
					a {
						display: inline-block;
						margin-right: 3px;
						font-size: 1.4em;
						color: @dt-actions-font-color;
						text-decoration: none;
						
						// Smaller text
						span {
							display: none;
						}
						
						// Icons
						&:before {
							.mr-5;
							.fa;
						}
						
						// Edit button
						&.edit:before {
							content: @fa-var-edit;
						}
						
						// Delete button
						&.delete:before {
							content: @fa-var-trash;
						}
						
					}
					
				}
				
			}
			
			// Alternate rows
			&.display tbody tr {
				border-bottom: 1px solid @dt-row-border;
				
				// Rows animation
				&, & > .sorting_1 {
					.transition(background-color 0.25s linear);
				}
				
				// Rows borders
				td, th {
					border-top: 1px solid @dt-row-border;
				}
				
				// Remove first row border
				&:first-child {
					td, th {
						border-top: none;
					}
				}
				
				// Odd
				&.odd {
					background-color: @dt-row-odd;
					
					// Order selected
					& > .sorting_1 {
						background-color: @dt-row-odd-sort;
					}
					
					// Hover
					&:hover {
						background-color: darken(@dt-row-odd, 7%);
						& > .sorting_1 {
							background-color: darken(@dt-row-odd-sort, 7%);
						}
					}
					
					// Selected rows
					&.selected,
					&.selected:hover {
						background-color: @dt-row-odd-selected;
						& > .sorting_1 {
							background-color: @dt-row-odd-sort-selected;
						}
					}
					
				}
				
				// Even
				&.even {
					background-color: @dt-row-even;
					
					// Order selected
					& > .sorting_1 {
						background-color: @dt-row-even-sort;
					}
					
					// Hover
					&:hover {
						background-color: darken(@dt-row-even, 4%);
						& > .sorting_1 {
							background-color: darken(@dt-row-even-sort, 4%);
						}
					}
					
					// Selected rows
					&.selected,
					&.selected:hover {
						background-color: @dt-row-even-selected;
						& > .sorting_1 {
							background-color: @dt-row-even-sort-selected;
						}
					}
					
				}
				
			}
			
			// Responsive styles
			&.dtr-inline.collapsed {
				
				& > tbody > tr {
					
					& > td:first-child:before {
						top: 16px;
						left: 14px;
						width: auto;
						height: auto;
						.border-radius(0);
						.box-shadow(none);
						border: 0;
						background-color: transparent;
						.fa;
						color: @font-color;
						content: @fa-var-caret-right;
					}
					
					&.parent > td:first-child:before {
						background-color: transparent;
						content: @fa-var-caret-down;
					}
					
				}
				
			}
			
		}
		
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	
	//
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
	//
	
}