/* Common styles */

// Toolbar
.toolbar {
	overflow: hidden;
	padding: 0 1%;
	background-color: @toolbar-background;
	user-select: none;
	
	// Button holder
	& > div {
		position: relative;
		height: 100%;
	}
	
	// Button styles
	.button {
		.vertical-align(relative);
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) {
	
	// Toolbar
	.toolbar {
		z-index: 2;
		position: fixed;
		top: @nav-bar-height-xs;
		width: 100%;
		height: @toolbar-height-xs;
		padding: 0 0 0 @global-side-pad-xs;
		
		// Button holder
		& > div {
			box-sizing: content-box;
			padding-right: @global-side-pad-xs;
		}
		
		// Buttons
		.button {
			font-size: 0.8em;
		}
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
	// Toolbar
	.toolbar {
		
		// Buttons
		.button {
			font-size: 0.8em;
		}
		
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	
	//
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
	//
	
}