// Mixins and utilities
@import "../../lib/mixins/all";

// Configuration files
@import "_variables";

// CUstom mixins
@import "_mixins";

// FontAwesome fonts
@import "../../lib/Font-Awesome/less/font-awesome";
@fa-font-path : "../../lib/Font-Awesome/fonts";


// Common styles
body {
	background-color: @main-background;
	.font-face();
	color: @font-color;
}

// Utils
.define-from-list(font-weight; txt; @font-weights);
.define-from-list(background-color; bg; @bg-colors);

// Text alignments
@text-alignments :
	left   left,
	right  right,
	center center;

// Text alignments
.define-from-list(text-align; txt; @text-alignments);

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) {
	
	// Text alignments
	.define-from-list(text-align; txt-xs; @text-alignments);
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
	// Text alignments
	.define-from-list(text-align; txt-sm; @text-alignments);
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	
	// Text alignments
	.define-from-list(text-align; txt-md; @text-alignments);
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
	// Text alignments
	.define-from-list(text-align; txt-lg; @text-alignments);
	
}

// Layout elements
@import "_login";
@import "_header";
@import "_sidebar";
@import "_toolbar";
@import "_buttons";
@import "_content";
@import "_alerts";
@import "_tables";
@import "_grids";
@import "_modal";
@import "_forms";
@import "_error-pages";